* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #121214;

  font-family: 'League Spartan', sans-serif;
  color: #FFFFFF;
}

main {
  max-width: 30rem;
  margin: 0 auto;
}

img {
  max-width: 23rem;
  margin: 3.0rem auto 0;

}

h1 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 2.8rem;

  color: #08C05E;

  display: block;

  margin: 1rem 0 2rem;
}

p span {
  font-family: 'League Spartan';
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;

  display: block;

  margin: 0 0 1rem;
}

p {
  font-family: 'League Spartan';
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;
}

